.side-drawer{
    height: 100%;
    background: #ededeb;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    left:0;
    width: 80%;
    max-width:400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
}

.side-drawer.open {
    transform: translateX(0);
    overflow: scroll;
}

.side-drawer ul {
    height: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.side-drawer > h3 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid lightgray;
    font-size: 18px;
}

.side-drawer ul > li{
    margin-top: 3rem;

}

.side-drawer a {
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}

.icon{
    margin: 0 10px;
}

.bottom{
    margin-bottom: 3rem;
}

.side-drawer > h4 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-top: 3px solid lightgray;
    font-size: 25px;
}

.login__signInButton {
    font-size: 17px;
    background: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}

.login__registerButton {
    font-size: 17px;
    border-radius: 2px;
    border: 1px solid;
    border-color:darkgray;
}

.btn > button {
    margin-top: 1rem;
    width: 90%;
    max-height: 50px;
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:340px){
    .btn > button {
        height: fit-content;
    }
}
